<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="v-for.css" media="screen" />
    <script  src="./vue.js"></script>
    <title>Exercícios com whatch</title>

</head>
<div id="app">
<span>Paciente</span> <input type="text" v-model="paciente">
<p v-for="l in pacientes" v-text="l.nome+ '  idade: ' + l.idade"></p>
  </div>

  <script>
    new Vue({
      el: '#app',
      data: { 
          paciente: '',
          pacientes:[
            {nome: 'Laurem' , idade: 19},
            {nome: 'Lisiane' , idade:25 },
            {nome: 'Ludmila' , idade: 30 },
            {nome: 'Lair' , idade: 17 }
          ],
          lista:[]
       },
      methods: {  },
      computed: {},
      watch:{
        paciente(valorNovo){
          console.log(valorNovo)
          console.log(this.pacientes.filter(p => p.nome.match(valorNovo)))
        }



      }
    });
  </script>
</body>
</html>